{% extends 'base.html.twig' %}

{% block title %}Edit InfoClient{% endblock %}

{% block body %}
<div style="display: flex">
    <h1>Modifier un Client</h1>
    <a class="btn btn-dark" style="position: relative; left: 70%" href="{{ path('app_info_client_index') }}">Retour</a>
    <button class="btn btn-dark">{{ button_label|default('Enregistrer') }}</button >

</div>
<br>
<div class="content-form" >



    {{ include('info_client/_form.html.twig', {'button_label': 'Mise à Jour'}) }}
        {{ include('info_client/_delete_form.html.twig') }}


</div>

{% endblock %}
