{% extends 'base.html.twig' %}

{% block title %}New InfoClient{% endblock %}

{% block body %}
    <h1>Créer un nouveau Client</h1> <a href="{{ path('app_info_client_index') }}">Retour</a>
    <br>
<div class="content-form" >
    {{ include('info_client/_form.html.twig') }}


</div>
{% endblock %}
