{% extends 'base.html.twig' %}

{% block title %}New InfoClient{% endblock %}

{% block body %}
    <h1>Créer un nouveau Client</h1>
    <br>
<div class="content-form" style="display: flex;justify-content: center;">
    {{ include('info_client/_form.html.twig') }}

    <a href="{{ path('app_info_client_index') }}">Retour</a>
</div>
{% endblock %}
