{% extends 'base.html.twig' %}

{% block title %}Nouveau Fichier{% endblock %}

{% block body %}
    <h1>Create new Fichier</h1>

    {{ include('fichier/_form.html.twig') }}

    <a href="{{ path('app_fichier_index') }}">Retour à la liste</a>
{% endblock %}
